.l-section.section .about {
    width: calc(100% - 168px);
    max-width: calc(100% - 168px);
    margin-left: 168px;
    margin-right: 0px;
}

.l-section.section .about .about--banner {
    height: auto;
}

.l-section.section .about .about--banner h2 {
    margin-bottom: 10px;
}

.l-section.section .about .past-experience {
    display: flex;
    flex-direction: row;
    z-index: 2!important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px
}

.l-section.section .about .past-experience .exp {
    margin-right: 15px
}

.l-section.section .about .past-experience .job-info {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: #0c0c0c;
} 

.contact {
    background-image: url(../img/ARmap.jpg)!important;
}

.contact--lockup {
    width: 75%
}